@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    height: 100vh;
    width: 100vw;
    background: url("../imagens/fundo-iphone.png") no-repeat fixed center center;
    background-size: cover;
}

main  img{
    margin:10px 5px 5px 5px;
    width: 50px;
    border-radius: 100%;
    padding: 5px;
}
