@charset "UTF-8";

body{
    background-image: linear-gradient(45deg, #020937 10%,#68656e,#1A0637);
    background-attachment: fixed;
    text-align: center;
}
h1{ 
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow:2px 2px 2px #0000005a;

    background-image: linear-gradient(45deg, #011dd2 10%,#b58fff,#5419ac);
    background-size: contain;
    color: transparent;
    background-clip: text;
}
a:hover > img{
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.703);
}
a:active > img{
    border: 1.5px black;
    border-style: solid;
}
img{
    filter: grayscale(80%);
    transition-duration: 1s;
}
img:hover{
    transition-duration: 0.5s;
    filter: grayscale(0%);
}
#white{
    filter: grayscale(100%);
    filter: brightness(50%);
}
#white:hover{
    filter: brightness(100%);
}
div{
    margin: auto;
    width: 410px;
    overflow-x: scroll, hidden;
}